<h3><a class="btn btn-secondary" href="/personnage"><i class="fa fa-plus"></i> Ajouter</a> Liste des personnage</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Email</th>
            <th>Téléphone</th>
            <th>Ville</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.lastName}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.mobile}}</td>
            <td>{{this.city}}</td>
            <td>
                <a href="/personnage/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/personnage/delete/{{this._id}}" onclick="return confirm('Etes vous sûr de vouloir supprimer cette personne ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>